################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RentVilla/.vs/RentVilla/FileContentIndex
